<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="card p-4">
    <h3 class="text-center">Entrar no sistema</h3>
    <hr />
    <p class="text-center">Digite suas credenciais</p>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="usuario">Usuário</label>
        <input
          type="text"
          class="form-control mt-2"
          id="usuario"
          formControlName="usuario"
          [ngClass]="{
            'is-invalid':
              loginForm.controls['usuario'].invalid &&
              (loginForm.controls['usuario'].dirty ||
                loginForm.controls['usuario'].touched)
          }"
          [attr.aria-invalid]="
            loginForm.controls['usuario'].invalid &&
            (loginForm.controls['usuario'].dirty ||
              loginForm.controls['usuario'].touched)
          "
          placeholder="Usuario ou CPF"
          aria-required
        />
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.controls['usuario'].invalid &&
            (loginForm.controls['usuario'].dirty ||
              loginForm.controls['usuario'].touched)
          "
        >
          <div *ngIf="loginForm.controls['usuario'].errors?.['required']">
            O campo Usuário é obrigatório.
          </div>
          <div *ngIf="loginForm.controls['usuario'].errors?.['pattern']">
            O valor deve ser um CPF válido ou um endereço de email válido.
          </div>
        </div>
      </div>

      <div class="form-group mt-2">
        <label for="senha">Senha</label>
        <input
          type="password"
          class="form-control mt-2"
          id="senha"
          formControlName="senha"
          [ngClass]="{
            'is-invalid':
              loginForm.controls['senha'].invalid &&
              (loginForm.controls['senha'].dirty ||
                loginForm.controls['senha'].touched)
          }"
          [attr.aria-invalid]="
            loginForm.controls['senha'].invalid &&
            (loginForm.controls['senha'].dirty || loginForm.controls['senha'].touched)
          "
          placeholder="Senha"
          aria-required
        />

        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.controls['senha'].invalid &&
            (loginForm.controls['senha'].dirty || loginForm.controls['senha'].touched)
          "
        >
          <div *ngIf="loginForm.controls['senha'].errors?.['required']">
            O campo Senha é obrigatório.
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <a href="#" class="btn btn-link" (click)="$event.preventDefault()"
          >Esqueceu sua senha?</a
        >
      </div>

      <div class="form-group text-center mt-3">
        <button
          type="submit"
          class="btn btn-primary w-100"
          aria-label="Botao para fazer login no sistema"
        >
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
